header{
  height: 100px;
  background-color: rgba(250, 168, 37, 0.849);
  }

  article{ 
    width:60vw;
    margin: 0 auto;
    background-color: rgb(15, 207, 15); 
  }

  footer{
    position: fixed;
    bottom:0px;
    width:100%;
    height:100px;
    background-color: rgb(253, 253, 17);
  }

  aside{
    float: right;
  }
